
@{
    ViewBag.Title = "ConfirmPunchout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmPunchout</h2>


<form action="@Session["BUYER_URL"].ToString()" method="post">
    <input type="hidden" name="cxml-urlencoded" value="@TempData["ORDER_MESSAGE"].ToString()" />
    <input type="submit" class="btn" name="Punchout" />
</form>


