@using Microsoft.ApplicationInsights

@{
    ViewBag.Title = "ConfirmPunchout";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var _log = new Microsoft.ApplicationInsights.TelemetryClient();
    try
    {
        _log.TrackTrace(Session["BUYER_URL"].ToString());
        _log.TrackTrace(TempData["ORDER_MESSAGE"].ToString());
    }
    catch (Exception e)
    {
        _log.TrackException(e);
    }

}

<h2>ConfirmPunchout</h2>




<form action="@Session["BUYER_URL"].ToString()" method="post">
    <input type="hidden" name="cxml-urlencoded" value="@TempData["ORDER_MESSAGE"].ToString()" />
    <input type="submit" class="btn" name="Punchout" />
</form>


