
@{
    ViewBag.Title = "PunchoutSetupRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (string.IsNullOrEmpty(ViewBag.result))
{
    <h2>not ok</h2>
}
else
{
    <h2>ok!!</h2>

    





}



